.multiStepForm {
  width: 60%;
  margin: 6rem auto;
  padding: 1.5rem;
  /* border: 1px solid #999; */
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.photoBox {
  padding: 1em;
  color: #2a3439;
  border: 1px solid #848482;
  border-radius: 5px;
}
.photoBox:focus {
  border: 1px solid blue;
}

.PhoneInputInput {
  height: 2rem;
  width: 1rem;
  border-radius: 5px;
  border: 1px solid #848482;
  margin-top: 1rem;
}
.phoneInputBox {
  height: 100px;
  line-height: 140%;
  --PhoneInputCountryFlag-height: 1.5rem;
}

.addressTwoCol {
  display: flex;
  flex-direction: row;
}

.photoPreview {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 200px;
  width: 200px;
  border-radius: 50%;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .multiStepForm {
    width: 90%;
    margin: 1rem auto;
    padding: 1.5rem;
    border: 0;
  }
}
