.multiStepForm {
  width: 80%;
  margin: 6rem auto;
  padding: 1.5rem;
  background-color: white;
  border-radius: 5px;
  /* border: 1px solid #999; */
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;

  /* background: url("https://www.juniv.edu/images/logo-ju-small.png"); */
  /* background-repeat: no-repeat; */
  /* background-size: contain; */
}
.photoBox {
  padding: 1em;
  color: #2a3439;
  border: 1px solid #848482;
  border-radius: 5px;
}
.photoBox:focus {
  border: 1px solid blue;
}

.PhoneInputInput {
  height: 2rem;
  width: 1rem;
  border-radius: 5px;
  border: 1px solid #848482;
  margin-top: 1rem;
}
.phoneInputBox {
  height: 100px;
  line-height: 140%;
  --PhoneInputCountryFlag-height: 1.5rem;
}

.addressTwoCol {
  display: flex;
  flex-direction: row;
}

.photoPreview {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 200px;
  width: 200px;
  border-radius: 50%;
}
.cover-bg {
  background: url("https://images.thedailystar.net/sites/default/files/feature/images/2021/02/17/ju-main-gate-wb_0_0.jpg");
  background-repeat: no-repeat;
  background-size: 100% 45%;

  padding-top: 100px;
  /* padding-bottom: 300px; */
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
.hero {
  background-color: #908787;
  background-image: url("https://images.thedailystar.net/sites/default/files/feature/images/2021/02/17/ju-main-gate-wb_0_0.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  color: white;
  padding-top: 250px;
  padding-bottom: 250px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
.heroDetails {
  /* width: 90%; */
  /* margin: 6rem auto; */
  padding: 1.5rem;
  background-color: white;
  border-radius: 5px;
  /* border: 1px solid #999; */
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.red-text {
  color: red;
  font-weight: bold;
  font-style: italic;
}
.green-text {
  color: green;
}
/* .side-img {
 
} */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 1000px) {
  .multiStepForm {
    width: fit-content;
    background-color: white;
    border-radius: 5px;
    margin: 0;
    padding: 1.5rem 1rem;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
      rgba(0, 0, 0, 0.22) 0px 15px 12px;
  }
  .cover-bg {
    padding-top: 100px;
    background-size: 100% auto;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
  }
  .side-img {
    display: none;
  }
  .hero {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
